/* Universal Styling */
* {
    box-sizing: border-box;


}

a {
    text-decoration: none;

}

.section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section h2.section-head {
    color: #000;
    text-align: center;
    margin-bottom: 40px;
}


.section h2.section-head::after {
    background-color: #e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}

/* ------------ */
/* Header */
/* ---------- */
#header {
    color: #fff;
    background: #e74c3c;
}

#logo {
    font-size: 2rem;
    margin-top: 5px;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
}

#menu li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 10px;
    display: block;
}

#menu li a:hover {
    background: #c0392b;
}

/* ----------------- */
/* Banner */
/* ----------------- */
#banner {
    background: url("banner.jpg") no-repeat;
    background-size: cover;
}

.banner-title {
    padding-top: 5rem;
}

.banner-title h1 {
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px;
    margin: 0;
}

.banner-title p.lead {
    color: white;
    background: rgba(231, 76, 60, 0.7);
    padding: 10px;
}

/* ---------------- */
/* Service-box */
/* ---------------- */
.service-box {
    text-align: center;
}

.service-box i.fa {
    color: #e74c3c;
    font-size: 70px;
    margin-bottom: 10px;
}





/* Footer */
#footer {
    color: #fff;
    background: #2c3e50;
    padding: 10px 0;
}

#social-icons {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#social-icons li {
    padding-left: 5px;
    display: inline-block;

}

#social-icons li a {
    color: #fff;
    font-size: 23px;
}